<section id="contact" class="background red">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Get In Touch</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3><i class="fa fa-envelope"></i><a href="mailto:fullstack@philroy.dev"> fullstack@philroy.dev</a></h3>
        <h3><i class="fa fa-linkedin-square"></i> <a href="http://au.linkedin.com/in/philippejroy" target="_blank">au.linkedin.com/in/philippejroy</a></h3>
        <h3><i class="fa fa-github"></i> <a href="https://github.com/PhilippeRoy" target="_blank">github.com/PhilippeRoy</a></h3>
      </div>
    </div>
    <div class="copywrite hidden-md hidden-lg">
      <hr>
      &copy; <span class="thisYear">2015</span> Philippe Roy
    </div>

  </div>
</section>
