<div class="featured-slider-container ">
  <div class="featured-slider">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-push-6">
          <div class="">
            <h2>Wine Unplugged</h2>
            <div class="hidden-xs hidden-sm">
              <p><a href="https://www.wineunplugged.com.au/" target="_blank">Wine Unplugged.</a> Wine Without borders. A responsive brand website showcasing the Wine unplugged wine portfolio. The site is also e-Commerce enabled and was built upon the Episerver platform.</p>
              <br />
              <p><a href="https://www.wineunplugged.com.au/" target="_blank">Wine Unplugged Website</a> <span class="red"><i class="fa fa-angle-right"></i></span></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-md-pull-5">
          <a href="https://www.wineunplugged.com.au/" target="_blank">
            <img class="img-responsive" src="/images/sites/Wine Unplugged/device_WineUnplugged.png" alt="Featured: Wine Unplugged Website">
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-push-6">
          <div class="">
            <h2>Red + White</h2>
            <div class="hidden-xs hidden-sm">
              <p>The Red + White portfolio encompasses some of the finest Australian and imported brands. From the familiar and approachable to the specialist and boutique, our customers have access to an extensive, but curated collection of wines</p>
              <br />
              <p><a href="http://www.redandwhite.com.au/" target="_blank">Red + White Website <span class="red"><i class="fa fa-angle-right"></i></span></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-md-pull-5">
          <a href="http://www.redandwhite.com.au/" target="_blank"><img class="img-responsive" src="/images/sites/Red+White/device_RedAndWhite.png" alt="Featured: Red + White Website"></a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-push-6">
          <div class="">
            <h2>Locale</h2>
            <div class="hidden-xs hidden-sm">
              <p>Locale premier coffee blend. The site is built upon and manged through EPiServer.</p>
              <br />
              <p><a href="http://localeespresso.com.au/" target="_blank">Locale Website <span class="red"><i class="fa fa-angle-right"></i></span></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-md-pull-5">
          <a href="http://localeespresso.com.au/" target="_blank">
            <img class="img-responsive" src="/images/sites/Locale/device_Locale.png" alt="Featured: Locale Espresso Website">
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="">
            <h2>View the full catalogue here</h2>
          </div>
        </div>
        <div class="col-xs-12">
          <a href="/portfolio" target="_self">
            <button class="red gradient">
              more stuff
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="featured-slider-nav">
  </div>
</div>
