<div class="featured-slider-container">
  <div class="featured-slider">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-push-6">
          <div class="">
            <h2>Weather App</h2>
            <div class="hidden-xs hidden-sm">
              <p><a href="http://the-weather.herokuapp.com/" target="_blank">The Weather App</a> is built using Node.js. It determines your location based upon your ip address or you can manually enter it by providing the paramters to the URL - the-weather.herokuapp.com/{Country}/{City}.</p>
              <p>e.g. <a href="http://the-weather.herokuapp.com/Canada/Toronto" target="_blank">the-weather.herokuapp.com/Canada/Toronto</a> </p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-md-pull-5">
          <a href="http://the-weather.herokuapp.com/" target="_blank">
            <img class="img-responsive" src="/images/iPhone-5-White-the-wether-channel.png" alt="...">
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-push-6">
          <div class="">
            <h2>Yee HAW!</h2>
            <div class="hidden-xs hidden-sm">
              <p>Black Caviar is a Javascript application built while studying at RMIT University in Melbourne. The website uses three.js for its 3D rendering and animations. Desktop only*</p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-md-pull-5">
          <a href="/projects/Assignment3/philRoyAss3.html" target="_blank"><img class="img-responsive" src="/images/blackCaviar.jpg" alt="..."></a>
        </div>
      </div>
    </div>
   </div>
  <div class="featured-slider-nav">
  </div>
</div>
