<div class="featured-slider-container ">
  <div class="featured-slider">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-push-6">
          <div class="">
            <h2>Avea Insurance</h2>
            <div class="hidden-xs hidden-sm">
              <p>The <a href="https://avea.com.au/" target="_blank">Avea Insurance</a> website was developed using Node.js and deployed on Heroku.</p>
              <br />
              <p><a href="https://avea.com.au/" target="_blank">Avea Insurance Website</a> <span class="red"><i class="fa fa-angle-right"></i></span></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-md-pull-5">
          <a href="https://avea.com.au/" target="_blank">
            <img class="img-responsive" src="/images/sites/Avea Insurance/device_Avea Insurance.png" alt="Featured: Avea Insurance Website">
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-push-6">
          <div class="">
            <h2>Locale</h2>
            <div class="hidden-xs hidden-sm">
              <p>Locale premier coffee blend. The site is built upon and manged through EPiServer.</p>
              <br />
              <p><a href="http://localeespresso.com.au/" target="_blank">Locale Website <span class="red"><i class="fa fa-angle-right"></i></span></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-md-pull-5">
          <a href="http://localeespresso.com.au/" target="_blank">
            <img class="img-responsive" src="/images/sites/Locale/device_Locale.png" alt="Featured: Locale Espresso Website">
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-push-6">
          <div class="">
            <h2>FCTG 2015 Global Gathering</h2>
            <div class="hidden-xs hidden-sm">
              <p>The FCTG 2015 Global Gathering website showcases the build up and spectacular event for the the Flight Center community. The site was built with wordpress.</p>
              <br />
              <p><a href="http://lasvegas.fcglobalgathering.com/" target="_blank">FCTG 2015 Global Gathering Website <span class="red"><i class="fa fa-angle-right"></i></span></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-md-pull-5">
          <a href="http://lasvegas.fcglobalgathering.com/" target="_blank"><img class="img-responsive" src="/images/sites/FCTG 2015 Global Gathering/device_FCTG 2015 Global Gathering | LAS VEGAS HIGH ROLLERS.png" alt="..."></a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="">
            <h2>View the full catalogue here</h2>
          </div>
        </div>
        <div class="col-xs-12">
          <a href="/portfolio" target="_self">
            <button class="red gradient">
              more stuff
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="featured-slider-nav">
  </div>
</div>
