<section id="intro" class="background red">
  <div class="container">
    <div class="intro">
      <div class="row headline">
        <div class="col-xs-12">
          <div class="title">
            <h1>Philippe Roy</h1>
            <h2>Web Developer</h2>
          </div>
        </div>
      </div>
      <div class="row secondary-nav">
        <ul id="intro-menu" class="nav-list">
          <li>
            <a href="/#myself" du-smooth-scroll offset="50" target="_self">
              <button>
                myself
              </button>
            </a>
          </li>
          <li>
            <a href="/#portfolio" du-smooth-scroll offset="50" target="_self">
              <button>
                portfolio
              </button>
            </a>
          </li>
          <li>
            <a href="/#contact" du-smooth-scroll offset="50" target="_self">
              <button>
                contact
              </button>
            </a>
          </li>
        </ul>
      </div>
      <div class="row bottom ">
        <div class="col-xs-12">
          <a href="/#myself" du-smooth-scroll offset="50" target="_self">
            <button class="down-arrow">
              <!-- <div class="arrow bounce">&nbsp;</div> -->
              <div class="left half arrow">&nbsp;</div><div class="right half arrow">&nbsp;</div>

            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
