<section id="myself" class="section black">
    <div class="container">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <h2>Hello</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <img class="img-responsive center-block img-circle"  src="/images/profile.jpg" alt="Philippe Roy " />
          <div class="row">
            <div class="col-sm-2 hidden-xs"></div>
            <div class="col-xs-12 col-sm-8 bio-container">
              <article>
                <section class="bio">
                  <p>
                    Responsive, Mobile-First, Progressive Enhancement, these are just a few of the skills required by the modern Web Developer.
                    I utilise these skills and more to design and implement solutions that meet business requirements.
                    From strategic planning, deployment and throughout a projects lifecycle, I strive to provide work that follows best practices and exceeds industry standards.
                  </p>
                </section>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8"><hr></div>
      </div>
      <div id="profile" class="row">
        <div id="skills" class="col-sm-4 profile-box">
          <div id="circle-ninja" class="circle"><img class="icon" src="/images/svg/ninja.svg" alt="Icon: Ninja Skills" /></div>
          <div class="col-xs-12 summary">
          <h2>Skills</h2>
            <ul>
              <li>Web development skills (HTML5, CSS3/CSS Animations/Sass/Bootstrap, JS/jQuery/Node.js/Grunt/Gulp/GSAP, SVG, PHP/WordPress, MySQL/MongoDB)</li>
              <li>UX/UI Design and Development</li>
              <li>Swift, C, Arduino, Processing</li>
              <li>UN*X</li>
              <li>Experience in Adobe Suites, Final Cut Studio</li>
            </ul>
          </div>
        </div>
        <div id="work" class="col-sm-4 profile-box">
          <div id="circle-graduate" class="circle"><img class="icon" src="/images/svg/worker.svg" alt="Icon: Graduate" /></div>
          <div class="col-xs-12 summary">
            <h2>Experience</h2>
            <ul>
              <li><span class="black">Development and maintenance of websites for corporate brands, including e-commerce websites</span></li>
              <li><span class="black">eDM development</span></li>
              <li><span class="black">Managed and matained relations between business, agencies and other third parties</span></li>
            </ul>
          </div>
        </div>
        <div id="education" class="col-sm-4 profile-box">
          <div id="circle-business" class="circle"><img class="icon" src="/images/svg/graduate.svg" alt="Icon: Business Man" /></div>
          <div class="col-xs-12 summary">
            <h2>Education</h2>
            <ul>
              <li><span class="black">Bachelors Degree in New Media - Creative Digital Media Studies</span></li>
              <li><span class="black">Ryerson University (Toronto, Canada)</span></li>
              <li><span class="black">Royal Melbourne Institute of Technology (Melbourne, Australia)</span></li>
              <li><span class="black">Certificate - M101JS: MongoDB for Node.js Developers</span></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
