<section id="siteMap" class="section hidden-xs hidden-sm">
    <div class="container">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
          <h3>
            <img class="img-responsive logo-small" src="/images/logo.png" alt="..."> Philippe Roy
          </h3>
        </div>
        <div class="col-xs-2">
          <ul>
            <li><a href="/#myself">myself</a></li>
            <li><a href="/#skills">skills</a></li>
            <li><a href="/#work">experience</a></li>
            <li><a href="/#education">education</a></li>
          </ul>
        </div>
        <div class="col-xs-2">
          <ul>
            <li><a href="/#things">a few things</a></li>
            <li><a href="/#toolbelt">toolbelt</a></li>
            <li><a href="/someMoreThings">some more things</a></li>
          </ul>
        </div>
        <div class="col-xs-2">
          <ul>
            <li><a href="/#contact">contact</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5"></div>
        <div class="col-xs-2 copywrite">
          <hr>
          &copy; <span class="thisYear">2015</span> Philippe Roy
        </div>
      </div>
  </div>
</section>
