<section id="siteMap" class="section hidden-xs hidden-sm">
    <div class="container">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
          <h3>
            <img class="img-responsive logo-small" src="/images/logo.png" alt="..."> Philippe Roy
          </h3>
        </div>
        <div class="col-xs-2">
          <ul>
            <li><a href="#myself" du-smooth-scroll offset="50" target="_self">myself</a></li>
            <li><a href="#skills" du-smooth-scroll offset="100" target="_self">skills</a></li>
            <li><a href="#work" du-smooth-scroll offset="100" target="_self">experience</a></li>
            <li><a href="#education" du-smooth-scroll offset="100" target="_self">education</a></li>
          </ul>
        </div>
        <div class="col-xs-2">
          <ul>
            <li><a href="#portfolio" du-smooth-scroll offset="50" target="_self">portfolio</a></li>
            <li><a href="/portfolio" target="_self">more work</a></li>
            <li><a href="#projects" du-smooth-scroll offset="50" target="_self">projects</a></li>
            <li><a href="#toolbelt" du-smooth-scroll offset="50" target="_self">toolbelt</a></li>
          </ul>
        </div>
        <div class="col-xs-2">
          <ul>
            <li><a href="/#contact" du-smooth-scroll offset="50" target="_self">contact</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5"></div>
        <div class="col-xs-2 copywrite">
          <hr>
          &copy; <span class="thisYear">2015</span> Philippe Roy
        </div>
      </div>
  </div>
</section>
