<section id="toolbelt" class="section ">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Toolbelt</h2>
          <p><i>The right tool for the right job</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8"><hr></div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/HTML5_logo.svg" alt="HTML5" >
          <h4 class="h4">HTML5</h4>
        </div>
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/css3.svg" alt="CSS3" >
          <h4 class="h4">CSS3</h4>
        </div>
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/javascript.svg" alt="JavaScript" >
          <h4 class="h4">JS</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/git.svg" alt="Git" >
          <h4 class="h4">GIT</h4>
        </div>
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/node.js.svg" alt="NodeJS" >
          <h4>NodeJS</h4>
        </div class="h4">
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/mongoDB.svg" alt="MongoDB" >
          <h4 class="h4">MongoDB</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/bootstrap.svg" alt="Bootstrap" >
          <h4 class="h4">Bootstrap</h4>
        </div>
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/wordpress.svg" alt="Wordpress" >
          <h4 class="h4">Worpress</h4>
        </div>
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/php.svg" alt="PHP" >
          <h4 class="h4">PHP</h4>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-12">
          <h3 id="otherTricksSwitch">other tricks of the trade <span class="red"><i class="fa fa-angle-down"></i></span>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div id="otherTricks">
            <div class="col-sm-4">
              <h4 class="h4">In the toolbox</h4>
              <hr>
              <ul>
                <li><span class="icon grunt"></span> Grunt</li>
                <li><span class="icon"></span> Express</li>
                <li><span class="icon sass"></span> Sass</li>
                <li><span class="icon jQuery"></span> JQuery</li>
                <li><span class="icon processing"></span> Processing</li>
                <li><span class="icon"></span> Ardunio</li>
                <li><span class="icon"></span> Taguchi</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4 class="h4">Have used more than once</h4>
              <hr>
              <ul>
                <li><span class="icon mySQL"></span> MySQL</li>
                <li><span class="icon"></span> Metaio</li>
                <li><span class="icon"></span> Less</li>
                <li><span class="icon"></span> Gulp</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4 class="h4">In the pipeline</h4>
              <hr>
              <ul>
                <li><span class="icon phonegap"></span> PhoneGap</li>
                <li><span class="icon angular"></span> Angular</li>
                <li><span class="icon"></span> Foundation</li>
                <li><span class="icon vagrant"></span> Vagrant</li>
                <li><span class="icon backboneJS"></span> Backbone.js</li>
                <li><span class="icon redit"></span> redit</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>
