/* *Resets */
ul {padding: 0; margin: 0; }

/* *Typography */
html { font-size: 62.5%; }
body { position: relative; font-family: 'Raleway', sans-serif; text-align: center; color: #000000; font-size: 1.4rem; }
h1 { font-size: 60px; font-weight: 100; margin: 0.4em 0;}
.h2, h2 { font-size: 30px; }
h2, h3, h4, .h4 { font-weight: 100; margin-bottom: 20px; }
.h4 { font-weight: 200; }
hr { margin-bottom: 40px; }

.red { color: #FF6961; }

/* Layout */
.section { padding-bottom: 40px; }

/* Red Sections */
.red a { color: #FFFFFF; }
.red a:hover { color: #FF6961; text-decoration: none; }
.red a:visited { text-decoration: none; color: #FFFFFF; }
.red a:focus { text-decoration: none; color: #FF6961; }

/* Links */
a { color: #000000; }
a:hover {  text-decoration: none; color: #FF6961;}
a:visited { text-decoration: none; color: #000000; }
a:focus { text-decoration: none; color: #FF6961; }


/* Forms */

/* Inputs */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, button:focus {
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    /* border-color: rgba(255,  255,  255,  0.8); */
    /* box-shadow: inset 0 1px 1px rgba(0,  0,  0,  0.075), 0 0 8px rgba(255,  255,  255,  0.6); */
    /*     -moz-box-shadow: inset 0 1px 1px rgba(0,  0,  0,  0.075), 0 0 8px rgba(255,  255,  255,  0.6); */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,  0,  0,  0.075), 0 0 8px rgba(255,  255,  255,  0.6); */
    outline: 0;
    /*     outline: thin dotted \9; */
    /* outline-color: transparent; */
}

/* Buttons */

button { background: transparent; padding: 12px 22px; border: 1px solid #FF6961; border-radius: 2px;  font-weight: 300; }
button:hover { /* border: 1px solid #C23B22; */ }

.red button { border: 1px solid #FFFFFF; }
.red button:hover { background-color: rgba(255,  255,  255,  0.25); }
button.red.gradient { color: #FFFFFF; position: relative; z-index: 1; top: 0;  -webkit-transition: top 0.5s; transition: top 0.5s; }
button.red.gradient:hover { top: -10px; }
button.red.gradient:before{ background: linear-gradient(170deg,  #C23B22 0%,#FF6961 100%); /* W3C */ content: ''; display: block; height: 100%; width: 100%; position: absolute; top: 0; left: 0; opacity: 0; z-index: -100; -webkit-transition: opacity 0.45s ease-in-out; transition: opacity 0.45s ease-in-out;}
button.red.gradient:hover:before { opacity: 1;}

/* Backgrounds */
/* BG Red */
button.red.gradient,
.background.red {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#C23B22+0,FF6961+100 */
    background: #C23B22; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #C23B22 0%, #FF6961 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#C23B22), color-stop(100%,#FF6961)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #C23B22 0%,#FF6961 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #C23B22 0%,#FF6961 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #C23B22 0%,#FF6961 100%); /* IE10+ */
    background: linear-gradient(135deg,  #C23B22 0%,#FF6961 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C23B22', endColorstr='#FF6961',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* BG Whtie/Grey */
.background.grey {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#FAF7F5+0,fbf8f5+100 */
    background: #FAF7F5; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #FAF7F5 0%, #fbf8f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#FAF7F5), color-stop(100%,#fbf8f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #FAF7F5 0%,#fbf8f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #FAF7F5 0%,#fbf8f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #FAF7F5 0%,#fbf8f5 100%); /* IE10+ */
    background: linear-gradient(135deg,  #FAF7F5 0%,#fbf8f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAF7F5', endColorstr='#fbf8f5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/* Slick */
.slick-dots { display: inline-block !important; font-size: 0; position: relative; top: 1px; }
.slick-dots button { display: none;}
.slick-dots li { display: inline-block; }
.slick-dots li:before { content: '\2022'; /* For a round bullet */ color: #FF6961; font-size: 26px; line-height: 40px;width: 25px;height: 40px;display: block;}
.slick-dots li:hover:before { color: #C23B22; cursor: pointer; }

.slick-arrow { font-family: 'FontAwesome'; font-size: 0; border: none;/* height: 44px; *//* line-height: 44px; */}
.slick-arrow:hover { border: none;}
.slick-arrow:hover:before {color: #C23B22;}
.slick-arrow:before {font-size: 2.4rem; color: #FF6961; line-height: 14px;}
.slick-prev:before { content: '\f104'; }
.slick-next:before { content: '\f105';}

.featured-slider { padding-top: 50px; }
.featured-slider-nav {height: 40px;margin: 25px 0 25px;}
/*.slick-track { height: 400px; overflow: hidden; }*/


/* Utilities */
.bottom { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; bottom: 10%; }
.nopadding { padding: 0; margin: 0; }
.title { text-align: center; }
.circle { position: relative; width: 160px; height: 160px; top: 160px; margin: 0 auto; padding-top: 22px; border-radius: 128px; border: 2px solid #FF6961; background-color: #FFF; overflow-x: hidden; }
body button.down-arrow { width: 45px; height: 45px; line-height: 45px; text-align: center; margin: 0 auto; padding: 40px 40px 0; border: none; box-sizing: content-box;}
body button.down-arrow:hover { background-color: transparent;  }
/*body button.down-arrow .arrow { width: calc(25px - 2px); height: calc(25px - 2px);  border-left: 2px solid #FFFFFF; border-bottom: 2px solid #FFFFFF; transform: rotateZ(-45deg); position: relative; margin: 0 auto; top: 0;}*/
/*body button.down-arrow .base { border-bottom: 1px solid #FFFFFF; width: 40px; height: 15px; margin: 0 auto; -webkit-transition: width 0.5s; transition: width 0.5s; }*/
/*body button.down-arrow:hover .base { width: 0;}*/
body button.down-arrow .arrow.half { display: inline-block; background-color: #FFFFFF; width: 50%; height: 1px;   }
body button.down-arrow .arrow.half.left { transform: rotateZ(0deg); transform-origin: 100% 0%; -webkit-transition: transform 0.5s, transform-origin 0.5s; transition: transform 0.5s, transform-origin 0.5s; }
body button.down-arrow .arrow.half.right { transform: rotateZ(0deg); transform-origin: 0% 0%; -webkit-transition: transform 0.5s, transform-origin 0.5s; transition: transform 0.5s, transform-origin 0.5s; }
body button.down-arrow:hover .arrow.half.left,
body button.down-arrow.forward .arrow.half.left { transform: rotateZ(45deg); transform-origin: 100% 0%;}
body button.down-arrow:hover .arrow.half.right,
body button.down-arrow.forward .arrow.half.right  { transform: rotateZ(-45deg); transform-origin: 0% 0%;}

body button.down-arrow.reverse .arrow.half.left  { transform: rotateZ(-45deg); transform-origin: 100% 0%;}
body button.down-arrow.reverse .arrow.half.right  { transform: rotateZ(45deg); transform-origin: 0% 0%;}


.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 0px 0; margin: 2px 0 0; font-size: 14px; font-weight: 200; text-align: left; list-style: none; background-color: #FAF7F5; background-clip: padding-box; border: 0px; border-radius: 0px; box-shadow: none; }
.dropdown-menu li a { font-weight: 200; }
.dropdown-menu li a:hover, .dropdown-menu li a:focus { background-color: #E7E7E7; }

.icon { display: block; width: 94px; height: 94px; margin: 0 auto; }
hr.copywrite { margin-bottom: 20px; }
.logo-small { width: 20px; display: inline; vertical-align: baseline; position: relative; top: 1px;}


/* Nav */
nav { z-index: 1; width: 100%; }
nav .navbar-default { position: fixed !important; }

/* Navbar */
.navbar { background: #FAF7F5; border-radius: 0px; margin-bottom: 0px; /* opacity: 0; */ z-index: 2; display: block; top: 0;}
.navbar .navbar-brand { color: #000000; font-weight: 100; font-size: 25px; }
.navbar .nav li.active { background: #e7e7e7; }
.navbar a { color: black; }
.navbar a:hover { color: #FF6961; text-decoration: none; }
.navbar a:visited { text-decoration: none; }
.navbar a:focus { text-decoration: none; }
.navbar-brand>img {display: inline;}
.navbar-nav { float: right; }
.navbar-default .navbar-nav>li>a {font-weight: 200; color: black; }
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { color: #777; background-color: transparent; }
.navbar-default .navbar-nav a.active, .navbar-default .navbar-nav a.active:hover, .navbar-default .navbar-nav a.active:focus { color: #777; background-color: #e7e7e7; }


/* Secondary Nav */
.secondary-nav { text-align: center; font-weight: 200; }
.secondary-nav a { margin-top: 12px; }
.secondary-nav a:hover { color: #FFF; }
.secondary-nav .nav-list { padding-left: 0; margin-left: -5px; list-style: none; }
.secondary-nav .nav-list>li { margin-bottom: 20px; }


/* Themes: Red */
.background.red h1,
.background.red h2,
.background.red { color: #FFFFFF; }

/* Themes: Grey */

/* Home Page */

.home #portfolio,
.home #projects {top: 0;}
.home #portfolio .featured-slider,
.home #projects .featured-slider { padding-top: 0; }
.home .moreThings { padding-bottom: 50px; }
.home #portfolio { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#FAF7F5+0,FFFFFF+100 */
  background: #FAF7F5; /* Old browsers */
  background: -moz-linear-gradient(top,  #FAF7F5 0%, #FFFFFF 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #FAF7F5 0%,#FFFFFF 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #FAF7F5 0%,#FFFFFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAF7F5', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
}
.home #projects {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#FFFFFF+0,FAF7F5+100 */
  background: #FFFFFF; /* Old browsers */
  background: -moz-linear-gradient(top,  #FFFFFF 0%, #FAF7F5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #FFFFFF 0%,#FAF7F5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #FFFFFF 0%,#FAF7F5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FAF7F5',GradientType=0 ); /* IE6-9 */
}
.home .navbar { position: fixed; }



/* Section: Intro */
#intro { height: 100vh; }
#intro h1 { margin-top: 0;}
#intro .visible-md-block,
#intro .visible-lg-block { display: block; }
#intro .container { height: 100%; }
#intro .intro { position: relative; height: 100%; }
#intro .row.headline,
#intro .secondary-nav { position: relative; top: 30%; transform: translateY(-50%);}
#intro .row.bottom a { display: inline-block; }
#intro #intro-menu button { position: relative; top: 0; -webkit-transitions: top 0.5s; transition: top 0.5s; }
#intro #intro-menu button:hover { position: relative; top: -10px; background: transparent; }



/* Section: Myself */
#myself { color: #000000; margin-bottom: 0px;}
#myself .profile-box { text-align: left; }
#myself .profile-box h2 { text-align: center; color: #000000; }
#myself .profile-box .circle { /* top: 180px; */  /* opacity: 0; */ }
#myself .profile-box .summary { background: #FFFFFF;  margin-bottom: 40px; display: table; margin-left: 0; padding-left: 0; list-style: none; }
#myself .profile-box .summary li { display: table-row; }
#myself .profile-box .summary li:before { content: '\2022';/* For a round bullet */ color: #FF6961; font-size: 26px; line-height: 14px; display: table-cell; padding-right: 0.4em; position: relative; top: 5px; }
#myself .profile-box .summary span.black { color: #000000; }
.bio { margin-top: 30px; text-align: justify; }

/* Section: Portfolio */
#portfolio { border-bottom: 1px solid #DBD9D5; border-top: 1px solid #DBD9D5; font-weight: 200; position: relative;top: 50px;}

/* Portfolio List */
#portfolio-list .img-responsive { position: relative; top: 0; -webkit-transition: top 0.5s; transition: top 0.5s; }
#portfolio-list .img-responsive:hover {  top: -5px; }

/* Section: Portfolio */
#projects { border-bottom: 1px solid #DBD9D5; font-weight: 200; position: relative;top: 50px;}

/* Section: Toolbelt */
#toolbelt .toolbelt-img { max-height: 140px; border: 0px; }
#toolbelt .helper { display: inline-block; height: 100%; vertical-align: middle; }
#toolbelt h3 { margin-bottom: 0px; }
#toolbelt #otherTricks { margin-top: 20px; display: none; }
#toolbelt #otherTricks ul { padding: 0; list-style-type: none; font-weight: 200; }
#toolbelt #otherTricks ul li { text-align: left; }
#toolbelt #otherTricks ul li img { margin-top: 5px; }
#toolbelt #otherTricks ul li span.icon { width: 50px; height: 50px; display: inline-block; vertical-align: middle; margin-top: 5px; margin-right: 20px; }
#toolbelt #otherTricks .icon { font-size: 10px; }
#toolbelt #otherTricks .icon:before { content: ''; vertical-align: middle; display: inline-block; background-image: url("/images/sprite.svg"); background-repeat: no-repeat; background-size: 5em 50em; }
#toolbelt #otherTricks .no-svg .icon:before { background-image: url("/images/sprite.png"); }
#toolbelt #otherTricks .icon.angular:before { background-position: 0em 0em; width: 5em; height: 5em; }
#toolbelt #otherTricks .icon.backboneJS:before { background-position: 0em -5em; width: 5em; height: 5em; }
#toolbelt #otherTricks .icon.grunt:before { background-position: 0em -10em; width: 5em; height: 5em; }
#toolbelt #otherTricks .icon.jQuery:before { background-position: 0em -15em; width: 5em; height: 5em; }
#toolbelt #otherTricks .icon.mySQL:before { background-position: 0em -20em; width: 5em; height: 5em; }
#toolbelt #otherTricks .icon.phonegap:before { background-position: 0em -25em; width: 5em; height: 5em; }
#toolbelt #otherTricks .icon.processing:before { background-position: 0em -30em; width: 5em; height: 5em; }
#toolbelt #otherTricks .icon.redit:before { background-position: 0em -35em; width: 5em; height: 5em; }
#toolbelt #otherTricks .icon.sass:before { background-position: 0em -40em; width: 5em; height: 5em; }
#toolbelt #otherTricks .icon.vagrant:before { background-position: 0em -45em; width: 5em; height: 5em; }

/* Section: Contact */
#contact { color: #FFFFFF; padding: 20px 0; }
#contact h1 { margin-top: 0; }
#contact .row h3:last-child { margin-bottom: 10px; }
#contact a { color: #FFFFFF; }
#contact a:hover { text-decoration: none; }
#contact a:visited { text-decoration: none; }
#contact a:focus { text-decoration: none; }
#contact .copywrite { color: #FFFFFF; text-align: center; margin-top: 20px; font-weight: 200; }
#contact .fa { display: block; }
#contact h3 { transform: scale(1); -webkit-transition: transform 1s; transition: transform 1s; }
#contact h3:hover { transform: scale(1.5); }

/* Section: Sitemap */
#siteMap { text-align: left; padding-bottom: 20px; }
#siteMap ul { list-style-type: none; margin-top: 20px; }
#siteMap ul li { height: 25px; font-weight: 200; }
#siteMap a { color: #000000; }
#siteMap a:hover { color: #FF6961; }
#siteMap a:visited { text-decoration: none; }
#siteMap a:focus { text-decoration: none; }
#siteMap .copywrite { text-align: center; margin-top: 10px; font-weight: 200; }
#siteMap .copywrite hr { margin-bottom: 10px; }

/* Section: Portfolio-list */
#portfolio-list { border-bottom: 1px solid #DBD9D5; border-top: 1px solid #DBD9D5; }
#portfolio-list .row > div {padding-top: 40px; }

/* 404 */
#error a { color: #FF6961; }

/* Animations */
.slideDown { -webkit-animation: slideDown 1s; animation: slideDown 1s; opacity: 1 !important; }
@-webkit-keyframes slideDown {
    0% { -webkit-transform: translateY(-40px); transform: translateY(-40px); opacity: 0; }
    100% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1; }
}
@keyframes slideDown {
    0% { -webkit-transform: translateY(-40px); transform: translateY(-40px); opacity: 0; }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1; }
}

.popUp { -webkit-animation: popUp 1s; animation: popUp 1s; z-index: -1; }
@-webkit-keyframes popUp {
    0% { top: 180px; opacity: 0; }
  100% { top: 0px; opacity: 1; }
}
@keyframes popUp {
    0% { top: 180px; opacity: 0; }
    100% { top: 0px; opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 1s; -webkit-animation-fill-mode: forwards; -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.bounce {
    -webkit-animation-name: bounce; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bounce {
    0% {top: -10px;}
    50% {top: 0;}
    100% {top: -10px;}
}

/* Standard syntax */
@keyframes bounce {
    0% {top: -10px;}
    50% {top: 0px;}
    100% {top: -10px;}
}




@media only screen and (min-width: 768px) {
    .red button {
    padding: 12px 22px;
    border: 1px solid #FFF;
    border-radius: 2px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    }

    button { margin-right: 0px;  margin-left: 0px; }
    .secondary-nav .nav-list>li { display: inline-block;   padding-right: 5px; padding-left: 5px; }
    .dropdown:hover .dropdown-menu {  display: block; }
    #contact .fa { display: inline-block; }

}
